body {
  background: silver;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 30px;
} 
.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 30px;
}
